/*===
/*===================================================
Project:   Forsa - Multipurpose HTML5 Website Template
Auther: Mohamed Amin [AminThemes]
Auther-URI:https://www.templatemonster.com/authors/aminthemes/
Version:    1.0
Created:   1 Jan 2023
Template Description: Multipurpose HTML5 Website Template
====================================================*/

/*
global-rules and helper classes
page-header
page-hero section
services-section
stats section
about section
portfolio section
Start portfolio-single Section  
our-video section
our-team section
pricing section
our-clients section
faq section
testimonials section
contact-us section
take-action section
page-footer section
blog
signing page
404 Page
Coloring classes 
Dark Theme Rules
===*/

/* start global, helper classes , Components Rules*/
@import "1-helpers/_variables";
@import "1-helpers/_mixins";
@import "1-helpers/_globals";
@import "1-helpers/_custom-animations";

@import "2-components/_buttons";
@import "2-components/_tabs";
@import "2-components/_social-icons";
@import "2-components/_back-to-top";
@import "2-components/_loading-screen";
/*ُ End global, helper classes , components Rules */

/* Start .page-header Rules    */
@import "3-layout/_page-header";
/* End .page-header Rules    */

/*  Start .page-hero Rules   */
@import "3-layout/_page-hero";
/*  End .page-hero Rules   */

/*   Start .services Section Rules    */
@import "3-layout/_services";
/*   End .services Section Rules   */

/*  Start stats Section    */
@import "3-layout/_stats";
/*  End stats Section  */

/*  Start about Section   */
@import "3-layout/_about";
/*  End about Section    */

/*   Start portfolio Section  */
@import "3-layout/_portfolio";
/*   End portfolio Section  */

/*   Start portfolio-single Section  */
@import "3-layout/_portfolio-single";
/*    End portfolio-single Section  */

/*   Start our-video Section  */
@import "3-layout/_our-video";
/*   End our-video Section  */

/*  Start our-team Section   */
@import "3-layout/_our-team";
/*  End our-team Section   */

/*  Start pricing Section  */
@import "3-layout/_pricing";
/*  End pricing Section   */

/*   Start our-clients Section   */
@import "3-layout/_our-clients";
/*   End our-clients Section   */

/*   Start faq Section   */
@import "3-layout/_faq";
/*   End faq Section  */

/*   Start testimonials Section   */
@import "3-layout/_testimonials";
/*   End testimonials Section   */

/*    Start contact-us Section  */
@import "3-layout/_contact-us";
/*    End contact-us Section  */

/*   Start take-action Section   */
@import "3-layout/_take-action";
/*   End take-action Section   */

/*    Start page-footer Section  */
@import "3-layout/_page-footer";
/*    End page-footer Section  */

/*  Start blog Page  */
@import "3-layout/_blog";
/*  End blog Page  */

/*   Start signing Page  */
@import "3-layout/_signing";
/*   End signing Page  */

/*   Start 404 Page  */
@import "3-layout/_404";
/*   End 404 Page  */

/*   Start coloring classes  */
@import "1-helpers/_coloring-classes";
/*   End coloring classes  */

/*    Start dark theme rules  */
@import "1-helpers/_dark-theme";
/*    End dark theme rules  */
